In [1]:
import os
os.chdir('./..')

In [2]:
import src.data as data
import pandas as pd

In [3]:
pd.options.display.max_columns=999

In [4]:
speed_t = data.speeds_test()
events_t = data.events_test()
target = data.target_test()

In [5]:
pippo = speed_t[['KEY','KM']].drop_duplicates()
pippo[pippo['KEY']==0].sort_values('KM')

       KEY   KM
820    0.0  333
47     0.0  337
18608  0.0  343
311    0.0  385
1077   0.0  407
1735   0.0  411
331    0.0  423
2111   0.0  443
3553   0.0  488
3819   0.0  520

In [6]:
target.sort_values(['KEY','DATETIME_UTC', 'KM', ])

      KEY   KM        DATETIME_UTC  PREDICTION_STEP
1526    0  488 2019-01-01 08:45:00                0
731     0  520 2019-01-01 08:45:00                0
866     0  488 2019-01-01 09:00:00                1
719     0  520 2019-01-01 09:00:00                1
19      0  488 2019-01-01 09:15:00                2
21      0  520 2019-01-01 09:15:00                2
1521    0  488 2019-01-01 09:30:00                3
1346    0  520 2019-01-01 09:30:00                3
853     0  343 2019-01-01 13:30:00                0
263     0  343 2019-01-01 13:45:00                1
1025    0  343 2019-01-01 14:00:00                2
1341    0  343 2019-01-01 14:15:00                3
1540    0  411 2019-01-01 19:45:00                0
892     0  443 2019-01-01 19:45:00                0
1167    0  411 2019-01-01 20:00:00                1
97      0  443 2019-01-01 20:00:00                1
1169    0  411 2019-01-01 20:15:00                2
96      0  443 2019-01-01 20:15:00                2
246     0  411 2019-01-01 20:30:00                3
95      0  443 2019-01-01 20:30:00                3
1444    0  385 2019-01-06 15:15:00                0
416     0  385 2019-01-06 15:30:00                1
754     0  385 2019-01-06 15:45:00                2
642     0  385 2019-01-06 16:00:00                3
911     0  333 2019-01-07 08:00:00                0
419     0  337 2019-01-07 08:00:00                0
1402    0  333 2019-01-07 08:15:00                1
1455    0  337 2019-01-07 08:15:00                1
1452    0  333 2019-01-07 08:30:00                2
958     0  337 2019-01-07 08:30:00                2
...   ...  ...                 ...              ...
379   578  644 2019-01-06 08:00:00                0
224   578  745 2019-01-06 08:00:00                0
1101  578  601 2019-01-06 08:15:00                1
1293  578  608 2019-01-06 08:15:00                1
549   578  644 2019-01-06 08:15:00                1
374   578  745 2019-01-06 08:15:00                1
1141  578  601 2019-01-06 08:30:00                2
1136  578  608 2019-01-06 08:30:00                2
643   578  644 2019-01-06 08:30:00                2
225   578  745 2019-01-06 08:30:00                2
1133  578  601 2019-01-06 08:45:00                3
1584  578  608 2019-01-06 08:45:00                3
220   578  644 2019-01-06 08:45:00                3
1298  578  745 2019-01-06 08:45:00                3
1083  578  732 2019-01-07 09:00:00                0
538   578  732 2019-01-07 09:15:00                1
1128  578  732 2019-01-07 09:30:00                2
1574  578  732 2019-01-07 09:45:00                3
1256  578  708 2019-01-14 09:45:00                0
1261  578  708 2019-01-14 10:00:00                1
979   578  708 2019-01-14 10:15:00                2
444   578  708 2019-01-14 10:30:00                3
746   578  694 2019-01-28 10:30:00                0
624   578  694 2019-01-28 10:45:00                1
1154  578  694 2019-01-28 11:00:00                2
1308  578  694 2019-01-28 11:15:00                3
1279  578  721 2019-02-03 12:00:00                0
1426  578  721 2019-02-03 12:15:00                1
939   578  721 2019-02-03 12:30:00                2
458   578  721 2019-02-03 12:45:00                3

[1615 rows x 4 columns]

In [7]:
KEY = 578
KM = 644

In [33]:
events_t[(events_t['KEY']==KEY) & (events_t['START_DATETIME_UTC']< '2019-01-06 08:00:00')
         & (events_t['START_DATETIME_UTC'] >= '2019-01-06 07:45:00')].sort_values('START_DATETIME_UTC')

,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY,KEY_2
4922,2019-01-06 07:50:00,2019-01-06 18:01:00,40.0,Segnaletica_verticale,748,739,578,578_748
10111,2019-01-06 07:58:00,2019-01-06 19:33:00,28.0,Pavimentazione,621,597,578,578_621
10112,2019-01-06 07:59:00,2019-01-06 17:58:00,28.0,Pavimentazione,647,634,578,578_647