In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import os
import numpy as np

os.chdir('..')

from src.utils import *
from src.utility import merge_speed_events

In [2]:
speeds_df = pd.read_csv(resources_path('dataset', 'preprocessed', 'speeds_train_imputed_time.csv.gz'))
events_df = pd.read_csv(resources_path('dataset', 'preprocessed', 'events_train.csv.gz'))
sensors_df = pd.read_csv(resources_path('dataset', 'originals', 'sensors.csv.gz'))

In [4]:
speeds_df.dropna(inplace=True)

In [34]:
speeds_events_df = merge_speed_events(speeds_df, events_df)
speeds_events_df.head(5)

,DATETIME_UTC,KEY,KM,SPEED_AVG,SPEED_SD,SPEED_MIN,SPEED_MAX,N_VEHICLES,IMPUTED,index,START_DATETIME_UTC,END_DATETIME_UTC,EVENT_DETAIL,EVENT_TYPE,KM_END,KM_START,KEY_2,KM_EVENT,step_duration
114,2018-09-01 11:30:00,0.0,333,217.409119,31.615297,114.878,461.130,756.0,False,34620.0,2018-09-01 11:30:00,2018-09-01 11:45:00,64.0,Ostacolo_in_carreggiata,339.0,332.0,0_337,337.0,2.0
118,2018-09-01 11:45:00,0.0,333,216.546688,33.470738,61.484,444.950,805.0,False,34620.0,2018-09-01 11:30:00,2018-09-01 11:45:00,64.0,Ostacolo_in_carreggiata,339.0,332.0,0_337,337.0,2.0
1948,2018-09-05 18:15:00,0.0,333,212.284848,37.328910,72.810,465.984,797.0,False,16789.0,2018-09-05 18:15:00,2018-09-05 19:00:00,11.0,Veicolo_in_avaria,337.0,331.0,0_337,NaN,4.0
1953,2018-09-05 18:30:00,0.0,333,213.775807,37.766099,66.338,462.748,745.0,False,16789.0,2018-09-05 18:15:00,2018-09-05 19:00:00,11.0,Veicolo_in_avaria,337.0,331.0,0_337,NaN,4.0
1958,2018-09-05 18:45:00,0.0,333,222.504598,40.419891,85.754,464.366,656.0,False,16789.0,2018-09-05 18:15:00,2018-09-05 19:00:00,11.0,Veicolo_in_avaria,337.0,331.0,0_337,NaN,4.0

In [35]:
speeds_events_df = speeds_events_df[[KEY, KM, DATETIME, SPEED_AVG, N_CARS, 'IMPUTED', EVENT_TYPE, KM_END, KM_START, 'KM_EVENT', 'step_duration']]
speeds_events_df.head(10)

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration
114,0.0,333,2018-09-01 11:30:00,217.409119,756.0,False,Ostacolo_in_carreggiata,339.0,332.0,337.0,2.0
118,0.0,333,2018-09-01 11:45:00,216.546688,805.0,False,Ostacolo_in_carreggiata,339.0,332.0,337.0,2.0
1948,0.0,333,2018-09-05 18:15:00,212.284848,797.0,False,Veicolo_in_avaria,337.0,331.0,NaN,4.0
1953,0.0,333,2018-09-05 18:30:00,213.775807,745.0,False,Veicolo_in_avaria,337.0,331.0,NaN,4.0
1958,0.0,333,2018-09-05 18:45:00,222.504598,656.0,False,Veicolo_in_avaria,337.0,331.0,NaN,4.0
1963,0.0,333,2018-09-05 19:00:00,216.197160,700.0,False,Veicolo_in_avaria,337.0,331.0,NaN,4.0
5449,0.0,333,2018-09-15 11:15:00,223.479039,589.0,False,Ostacolo_in_carreggiata,337.0,331.0,NaN,3.0
5453,0.0,333,2018-09-15 11:30:00,227.401150,527.0,False,Ostacolo_in_carreggiata,337.0,331.0,NaN,3.0
5457,0.0,333,2018-09-15 11:45:00,224.250435,519.0,False,Ostacolo_in_carreggiata,337.0,331.0,NaN,3.0
6236,0.0,333,2018-09-17 16:15:00,221.780772,578.0,False,Ostacolo_in_carreggiata,337.0,331.0,NaN,3.0

In [36]:
idx = speeds_events_df['KM_EVENT'].isnull()
speeds_events_df.loc[idx, 'KM_EVENT'] = speeds_events_df.loc[idx, 'KM_START'] + (speeds_events_df.loc[idx, 'KM_END'] - speeds_events_df.loc[idx, 'KM_START'])/2
speeds_events_df.head(5)

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,EVENT_TYPE,KM_END,KM_START,KM_EVENT,step_duration
114,0.0,333,2018-09-01 11:30:00,217.409119,756.0,False,Ostacolo_in_carreggiata,339.0,332.0,337.0,2.0
118,0.0,333,2018-09-01 11:45:00,216.546688,805.0,False,Ostacolo_in_carreggiata,339.0,332.0,337.0,2.0
1948,0.0,333,2018-09-05 18:15:00,212.284848,797.0,False,Veicolo_in_avaria,337.0,331.0,334.0,4.0
1953,0.0,333,2018-09-05 18:30:00,213.775807,745.0,False,Veicolo_in_avaria,337.0,331.0,334.0,4.0
1958,0.0,333,2018-09-05 18:45:00,222.504598,656.0,False,Veicolo_in_avaria,337.0,331.0,334.0,4.0

In [37]:
speeds_events_df['DISTANCE'] = speeds_events_df['KM_EVENT'] - speeds_events_df[KM]
speeds_events_df = speeds_events_df[[KEY, KM, DATETIME, SPEED_AVG, N_CARS, 'IMPUTED', EVENT_TYPE, 'DISTANCE', 'step_duration']]
speeds_events_df.head(10)

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,EVENT_TYPE,DISTANCE,step_duration
114,0.0,333,2018-09-01 11:30:00,217.409119,756.0,False,Ostacolo_in_carreggiata,4.0,2.0
118,0.0,333,2018-09-01 11:45:00,216.546688,805.0,False,Ostacolo_in_carreggiata,4.0,2.0
1948,0.0,333,2018-09-05 18:15:00,212.284848,797.0,False,Veicolo_in_avaria,1.0,4.0
1953,0.0,333,2018-09-05 18:30:00,213.775807,745.0,False,Veicolo_in_avaria,1.0,4.0
1958,0.0,333,2018-09-05 18:45:00,222.504598,656.0,False,Veicolo_in_avaria,1.0,4.0
1963,0.0,333,2018-09-05 19:00:00,216.197160,700.0,False,Veicolo_in_avaria,1.0,4.0
5449,0.0,333,2018-09-15 11:15:00,223.479039,589.0,False,Ostacolo_in_carreggiata,1.0,3.0
5453,0.0,333,2018-09-15 11:30:00,227.401150,527.0,False,Ostacolo_in_carreggiata,1.0,3.0
5457,0.0,333,2018-09-15 11:45:00,224.250435,519.0,False,Ostacolo_in_carreggiata,1.0,3.0
6236,0.0,333,2018-09-17 16:15:00,221.780772,578.0,False,Ostacolo_in_carreggiata,1.0,3.0

In [38]:
min_time = pd.to_datetime(speeds_events_df.DATETIME_UTC).astype('int').min()
min_time = (min_time//(10**9))//60
speeds_events_df[DATETIME] = ((pd.to_datetime(speeds_events_df.DATETIME_UTC).astype('int')//(10**9))//60 - min_time)//15
speeds_events_df.head(5)

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,EVENT_TYPE,DISTANCE,step_duration
114,0.0,333,46,217.409119,756.0,False,Ostacolo_in_carreggiata,4.0,2.0
118,0.0,333,47,216.546688,805.0,False,Ostacolo_in_carreggiata,4.0,2.0
1948,0.0,333,457,212.284848,797.0,False,Veicolo_in_avaria,1.0,4.0
1953,0.0,333,458,213.775807,745.0,False,Veicolo_in_avaria,1.0,4.0
1958,0.0,333,459,222.504598,656.0,False,Veicolo_in_avaria,1.0,4.0

In [42]:
speeds_events_df[EVENT_TYPE] = speeds_events_df.EVENT_TYPE.fillna('no_event')
speeds_events_df[DISTANCE] = speeds_events_df.DISTANCE.fillna(0)
speeds_events_df['step_duration'] = speeds_events_df.step_duration.fillna(0)
speeds_events_df.sort_values(DATETIME).head()

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,EVENT_TYPE,DISTANCE,step_duration
1578385,18.0,101,0,217.302854,178.0,False,no_event,0.0,0.0
2774067,60.0,732,0,125.125333,12.0,False,no_event,0.0,0.0
12530255,246.0,557,0,179.978706,17.0,False,no_event,0.0,0.0
2786760,60.0,740,0,231.125907,150.0,True,no_event,0.0,0.0
2786763,60.0,766,0,140.143692,13.0,False,no_event,0.0,0.0

In [45]:
speeds_events_onehot_df = pd.concat([speeds_events_df, pd.get_dummies(speeds_events_df[EVENT_TYPE])], axis=1)

In [47]:
speeds_events_onehot_df.drop('EVENT_TYPE', axis=1, inplace=True)
speeds_events_onehot_df.head(10)

,KEY,KM,DATETIME_UTC,SPEED_AVG,N_VEHICLES,IMPUTED,DISTANCE,step_duration,Allarme,Barriere,...,Meteo,Opera_arte,Ostacolo_in_carreggiata,Pavimentazione,Regimazione_delle_acque,Segnaletica_orizzontale,Segnaletica_verticale,Veicolo_in_avaria,extended_accident,no_event
114,0.0,333,46,217.409119,756.0,False,4.0,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
118,0.0,333,47,216.546688,805.0,False,4.0,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
1948,0.0,333,457,212.284848,797.0,False,1.0,4.0,0,0,...,0,0,0,0,0,0,0,1,0,0
1953,0.0,333,458,213.775807,745.0,False,1.0,4.0,0,0,...,0,0,0,0,0,0,0,1,0,0
1958,0.0,333,459,222.504598,656.0,False,1.0,4.0,0,0,...,0,0,0,0,0,0,0,1,0,0
1963,0.0,333,460,216.197160,700.0,False,1.0,4.0,0,0,...,0,0,0,0,0,0,0,1,0,0
5449,0.0,333,1389,223.479039,589.0,False,1.0,3.0,0,0,...,0,0,1,0,0,0,0,0,0,0
5453,0.0,333,1390,227.401150,527.0,False,1.0,3.0,0,0,...,0,0,1,0,0,0,0,0,0,0
5457,0.0,333,1391,224.250435,519.0,False,1.0,3.0,0,0,...,0,0,1,0,0,0,0,0,0,0
6236,0.0,333,1601,221.780772,578.0,False,1.0,3.0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [49]:
speeds_events_onehot_df.to_csv(resources_path('dataset', 'training', 'train_1.csv.gz'))